@model decimal

<div class="col-sm-6">
    <div class="total_area">
        <ul>
            @*<li>Cart Sub Total <span>$59</span></li>
            <li>Eco Tax <span>$2</span></li>
            <li>Shipping Cost <span>Free</span></li>*@

            <li>
                @await Html.PartialAsync("Partial/_OrderTotalPrice", Model)
            </li>

        </ul>
        @*<a class="btn btn-default update" href="">Update</a>*@
        <input type="submit" class="btn btn-default check_out" value="Оформить заказ" />
    </div>
</div>