@if (User.Identity.IsAuthenticated)
{
    <span>Hello, <a asp-controller="Profile" asp-action="Index">@User.Identity.Name</a></span>
    <form method="post" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
        <input type="submit" value="Exit" class="btn btn-default" />
    </form>
    @*<a method="get" asp-controller="Account" asp-action="Logout" class="btn btn-default">Exit</a>*@@*<-так не работает с asp-antiforgery*@
}
else
{
<div class="btn-group pull-right">
    <a asp-action="Login" asp-controller="Account"  asp-route-pathUrl="@Context.Request.Path" asp-route-queryString="@Context.Request.QueryString" class="btn btn-default">Вход</a>
    <a asp-action="Registration" asp-controller="Account" class="btn btn-default">Регистрация</a>
</div>
}