@model BookViewModel

@{
    ViewData["Title"] = "Редактирование";
    Layout = null;
}

<a asp-action="Books"><<< Назад к списку книг</a>
<br />
<h3>Редактирование информации о книге</h3>
<br />
<form asp-action="BookEdit" method="post">
    <table>
        <tr>
            <td><label>Название книги</label></td>
            <td><input asp-for="Title" /></td>
        </tr>
        <tr>
            <td><label>Автор</label></td>
            <td><input asp-for="Author" /></td>
        </tr>
        <tr>
            <td><label>Количество страниц</label></td>
            <td><input asp-for="PagesNumber" /></td>
        </tr>
        <tr>
            <td><label>Год издания</label></td>
            <td><input asp-for="Year" /></td>
        </tr>
    </table>
    <br />
    <input type="submit" value="Сохранить" />
</form>